<!DOCTYPE html>
<html>
    <head>
        <title>
            Weather
        </title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="../.././css/style.css">
        
        <title></title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        
        <form>
            <input placeholder="location">
            <button>search</button>

        </form>
        <p id='message-1'></p>
        
        <p id='message-2'></p>

        <h1 >{{title}}</h1>
        <h2>creted by {{name}}</h2>
        <h3 id='message-2'>rohit is good boii</h3>
        </div>

        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html>